<style>
    .categories {
        display: grid;
        grid-template-columns: repeat(6, 1fr) 100px;
        column-gap: 60px;
    }

    .container {
        /* display: flex;
    justify-content: left; */
        width: 1200px;
        height: 40px;
        margin-top: 60px;
        margin-left: 159.5px;
        background: #E5F3FB;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 17px 17px 5px 5px;
    }

    .img2 {
        margin-top: -80px;
        width: 90px;
        margin-left: 10px;
    }

    .img1 {
        margin-top: -90px;
        width: 90px;
        margin-left: 13px;
    }

    .text {
        text-align: center;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 400;
        color: #000000;
        font-size: 18px;
        margin-top: -12px;
        margin-left: -5px;
    }

    .categories a {
        text-decoration: none;
    }
</style>

<div class="container">
    <div class="categories">
        <div>
            <a href="/products/topDeals"><img alt="Electronics"
                    src="https://res.cloudinary.com/aaspaas/image/upload/v1666899322/categories/Electronics_vgpv40.png"
                    class="img1" /></a>
            <a href="/products/topDeals">
                <div class="text">Electronics</div>
            </a>
        </div>
        <div>
            <a href="/products/topDeals"><img alt="Stationary"
                    src="https://res.cloudinary.com/aaspaas/image/upload/v1666899322/categories/Staionary_g9r9qx.png"
                    class="img2" /></a>
            <a href="/products/topDeals">
                <div class="text">Stationary</div>
            </a>
        </div>
        <div>
            <a href="/products/topDeals"><img alt="Mobile Phones"
                    src="https://res.cloudinary.com/aaspaas/image/upload/v1666899322/categories/Mobile_Phones_o3i1rb.png"
                    class="img2" />
                <div class="text">Mobile Phones</div>
            </a>
        </div>
        <div>
            <a href="/products/topDeals"><img alt="Cycles"
                    src="https://res.cloudinary.com/aaspaas/image/upload/v1666899323/categories/Cycles_fsb6dc.png"
                    class="img2" /></a>
            <a href="/products/topDeals">
                <div class="text">Cycles</div>
            </a>
        </div>
        <div>
            <a href="/products/topDeals"><img alt="Appliances"
                    src="https://res.cloudinary.com/aaspaas/image/upload/v1666899323/categories/Appliances_jkb0p0.png"
                    class="img2" /></a>
            <a href="/products/topDeals">
                <div class="text">Appliances</div>
            </a>
        </div>
        <div>
            <a href="/products/topDeals"><img alt="Books & Notes"
                    src="https://res.cloudinary.com/aaspaas/image/upload/v1666899322/categories/Books_and_Notes_bj09qw.png"
                    class="img2" /></a>
            <a href="/products/topDeals">
                <div class="text">Books & Notes</div>
            </a>
        </div>
        <div>
            <a href="/products/topDeals"><img alt="Miscellaneous"
                    src="https://res.cloudinary.com/aaspaas/image/upload/v1666899322/categories/Miscellaneous_veohmm.png"
                    class="img2" /></a>
            <a href="/products/topDeals">
                <div class="text">Miscellaneous</div>
            </a>
        </div>
    </div>
</div>