<%- include ("./partials/boilerplate") %>
  <%- include ("./partials/navbar") %>
    <%- include("./partials/flash") %>
      <link rel="stylesheet" href="/stylesheets/404.css" />
      <div class="container">
        <div class="heading-one">
          <p>404!</p>
        </div>
        <div class="heading-two">
          <p>Not Found</p>
        </div>
        <div class="heading-three">
          <p>The resource you requested could</p>
        </div>
        <div class="heading-four">
          <p>not be found on this page</p>
        </div>
        <div class="imgClass">
          <img
            src="https://res.cloudinary.com/sairev/image/upload/v1665898373/SecondSwap/Files/404_rjlhnr_rlmlaz.png" />
        </div>
      </div>
      <%- include ("./partials/footer_short") %>