a {
    text-decoration: none;
    color: black;
}

ul,
ol {
    list-style: none;
}

body {
    background: linear-gradient(180deg, #C6EAFF 0%, #9ED5F3 23.69%, #51A6F4 81.5%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.content {
    background-color: #DCEAF8;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.12);
    padding: 20px;
    border-radius: 16px;
    min-width: 1440px;
    margin: auto 30px;
}

.content h1 {
    margin-left: 20px;
    font-family: 'Alata', sans-serif;

}

.wishlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.your-orders {
    display: grid;
    grid-template-columns: 225px 300px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    height: 260px;
    margin: 20px;
    grid-gap: 30px;
    box-sizing: border-box;
    position: relative;
}

.product-img {
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 20px 20px 0px 0px;
    margin: 20px;
    margin-top: -5px;
    height: 180px;
}

.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.prod1 {
    height: 50px;
    background: #FFFFFF;
    border-width: 1.5px 1px 1px 1px;
    border-style: solid;
    border-color: #BEBEBE;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3), inset 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
    text-align: center;
}

.prod1 div a {
    text-decoration: none;
    color: black;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.pricebox {
    width: 70px;
    margin: auto;
    background: #BCDBF8;
    border-radius: 12px;
    font-size: 12px;
}

.price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.product-desc {
    margin-top: 5px;
}


.product-desc p {
    margin-top: 20px;
    font-size: 18px;
}

.btn-red{
    border:none;
    border-radius: 12px;
    background-color: #ee4646;
    color:white;
    position: absolute;
    right:14px;
    bottom:20px;
    font-size:18px;
    padding:5px;
    width:120px;
  }

  .btn-red:hover{
    background-color: #d42929e7;
    border-radius:10px;
    
  }