<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&family=Amaranth&family=Germania+One&family=Inter:wght@300&family=Montserrat&family=Open+Sans:wght@300&family=Poppins:wght@200;300;400&family=Roboto:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&family=Amaranth&family=Germania+One&family=Inter:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200;300;400&family=Roboto:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Amaranth&family=Germania+One&family=Inter:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200;300;400&family=Roboto:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Germania+One&family=Inter:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200;300;400&family=Roboto:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <title>Home Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="buyerinfo.css" />
    <title>Buyer info</title>
  </head>
  <body>
    <div class="navbar">
      <div class="nav">
        <div class="img">
          <img
            src="https://res.cloudinary.com/aaspaas/image/upload/v1666903174/Social/AasPaas_Black_mdqn23.png"
            class="logo"
          />
        </div>
        <div class="searchbox">
          <form action="/abcd">
            <input type="text" placeholder="Search for products" />
            <button class="button">
              <img
                src="https://res.cloudinary.com/aaspaas/image/upload/v1666903403/Miscellaneous/search_logo_yaxuj5.png"
              />
            </button>
          </form>
        </div>
        <div class="nav-items">
          <ul>
            <li><a href="abcd" id="home">Home</a></li>
            <li><a href="abcd" id="orders">Orders</a></li>
            <li><a href="abcd" class="sell">Sell</a></li>
          </ul>
        </div>
        <div class="profileicon">
          <a href="abcd"
            ><img
              class="profile"
              src="https://res.cloudinary.com/aaspaas/image/upload/v1666902502/Social/signin_j2hthm.png"
          /></a>
        </div>
        <div class="signin">
          <ul>
            <li><a href="abcd">Sign in</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cont1">
      <div class="heading">Contact Info</div>
      <div class="whiteboxes">
        <div class="boxes">
          <div class="topbox">
            <div class="prodtrend">
                <a
                  ><img src="https://res.cloudinary.com/aaspaas/image/upload/v1667252624/Pondy-Baba/xfbdcblt2mtwnwynp1bi.png"
                /></a>
                <div class="prod1">
                  <div class="title"><a>Smart Watch</a></div>
                  <div class="pricebox">
                    <a class="price">₹2000</a>
                  </div>
                </div>
            </div>
            <div>
                <div class="heading2">Omega Mini Drafter</div>
                <div class="bid"><b>Your Bid price is : </b>₹1600</div>
                <div class="content"> Drafter bought in 2019, decent condition. Is required in Engineering Drawing subject as 
                    well as machine drawing subject for 1st year students.</div>
            </div>
            <div class="bluebox">
                <p>The Product Requested by the buyer is shown here along with their contact info.</p>

<p>You can go on to further contact them and negotiate the deal! </p>
<p>Happy shopping!</p>
            </div>
          </div>
          <div class="bottombox">
            <div class="heading1">Seller Information</div>
            <div class="information">
              <div class="infobox">
                <div>Name: Yogesh Sharma</div>
                <div>Email: menoob@itbhu.ac.in</div>
                <div>Branch: Mechanical Engineering Part 2</div>
                <div>Hostel Info: Room number 553 Dhanrajgiri 2</div>
                <div>Phone no: 3838383838</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-logo">
        <img
          src="https://res.cloudinary.com/aaspaas/image/upload/v1666903174/Social/AasPaas_White_etdgpp.png"
        />
      </div>
      <div class="footer-address">
        <img
          src="https://res.cloudinary.com/aaspaas/image/upload/v1666903864/Backgrounds/Group_3614_nldmvf.png"
        />
        <div class="address">
          Indian Institute Of Technology (Banaras Hindu University) Varanasi,
          India<br />
          PIN: 221005
        </div>
      </div>
      <div class="footer-contact">
        <h4>You can mail us at</h4>
        <a href="mailto:aaspaas.69@gmail.com"
          ><img
            src="https://res.cloudinary.com/aaspaas/image/upload/v1666902500/Social/Gmail_logo_ja3tqw.png"
          />aaspaas.69@gmail.com</a
        >
        <p>
          Check us out on : &nbsp;
          <a href=""
            ><img
              src="https://res.cloudinary.com/aaspaas/image/upload/v1666904062/Social/BNW_Instagram_kphacq.png"
          /></a>
          <a href=""
            ><img
              src="https://res.cloudinary.com/aaspaas/image/upload/v1666904063/Social/BNW_Linkdin_eqmzbn.png"
          /></a>
          <a href=""
            ><img
              src="https://res.cloudinary.com/aaspaas/image/upload/v1666904062/Social/BNW_Youtube_okokd3.png"
          /></a>
        </p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
